---
title: Settings

shared:
  - debug
  - web
  - security
  - auth-oidc
  - usersdb

sections:
  - db
  - pcapstorage
  - capture
  - dedup
  - viewer
  - advanced
  - capture-debug
  - user-setting-defaults

readerswriters:
  - reader-afpacket
  - reader-daq
  - reader-pfring
  - reader-poi
  - reader-snf
  - reader-tzsp
  - reader-scheme
  - reader-scheme-s3
  - reader-scheme-sqs
  - writer-simple
  - writer-s3

plugins:
  - chad
  - kafka
  - lua
  - ja4plus
  - netflow
  - scrubspi
  - suricata
  - tagger
  - tcphealthcheck
  - wise

specialsections:
  - custom-fields
  - custom-fields-remap
  - custom-views
  - headers-email
  - headers-http-request
  - headers-http-response
  - override-ips
  - packet-drop-ips
  - remote-clusters
  - multi-viewer-settings
  - user-role-mappings
  - vlan-vni-collapse
  - wise-types

cont3xt:
  - general
  - db
  - caching
  - integration-common
  - arkime
  - clickhouse
  - csv
  - elasticsearch
  - json
  - redis

parliament:
  - general

wiseService:
  - general
  - caching
  - source-common
  - alien-vault
  - emerging-threats
  - opendns-umbrella
  - threatq
  - threatstream
  - splunk
  - elasticsearch
  - file
  - redis
  - reversedns
  - url
  - value-actions


---

<!DOCTYPE html>
<html lang="en" style="height:100%;">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137788272-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-137788272-1');
  </script>

  <title>Arkime Settings</title>

  <!-- Required meta tags always come first -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="Arkime settings" />
  <!-- facebook open graph tags -->
  <meta property="og:url" content="http://arkime.com/settings" />
  <meta property="og:description" content="Arkime settings" />
  <meta property="og:image" content="http://arkime.com/assets/Arkime_Logo_FullGradientBlack@2x.png" />
  <!-- twitter card tags additive with the og: tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:domain" value="arkime.com" />
  <meta name="twitter:description" value="Frequently asked Arkime questions" />
  <meta name="twitter:image" content="http://arkime.com/assets/Arkime_Logo_FullGradientBlack@2x.png" />
  <meta name="twitter:url" value="http://arkime.com/settings" />

  <!-- fontawesome http://fontawesome.io/ -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS https://getbootstrap.com/ -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- custom index page styles -->
  <link rel="stylesheet" type="text/css" href="index.css">

  <!-- page functions -->
  <script src="index.js"></script>

</head>

<body id="viewport"
  class="full-height-body settings">

  <!-- navbar -->
  {%- include navbar.html -%}

  <!-- toc nav -->
  <div class="left-nav d-none d-sm-block">
    <div class="nav nav-pills nav-pills-nested pb-3">
      <a href="#ini-settings"
        class="nav-link main-nav-link"
        title="General">
        Settings
      </a>
      {% for sectionId in page.shared %}
        {% assign section = site.data.shared[sectionId] %}
        <a class="nav-link nested"
          href="#{{sectionId}}"
          title="{{section.name}}">
          {{section.name}}
        </a>
      {% endfor %}
      <a href="#capture-viewer"
        class="nav-link main-nav-link"
        title="General">
        Capture/Viewer
      </a>
      {% for sectionId in page.sections %}
        {% assign section = site.data.settings[sectionId] %}
        <a class="nav-link nested"
          href="#{{sectionId}}"
          title="{{section.name}}">
          {{section.name}}
        </a>
      {% endfor %}
      <div class="toc-nested">
        <a href="#ReadersWriters"
          class="nav-link"
          title="Readers/Writers">
          Readers/Writers
        </a>
        {% for sectionId in page.readerswriters %}
          {% assign section = site.data.settings[sectionId] %}
          <a class="nav-link nested"
            href="#{{sectionId}}"
            title="{{section.name}}">
            {{section.name}}
          </a>
        {% endfor %}
        <a href="#SpecialSections"
          class="nav-link"
          title="Special Sections">
          Special Sections
        </a>
        {% for sectionId in page.specialsections %}
          {% assign section = site.data.settings[sectionId] %}
          <a class="nav-link nested"
            href="#{{sectionId}}"
            title="{{section.name}}">
            {{section.name}}
          </a>
        {% endfor %}
        <a class="nav-link nested"
          href="#right-click"
          title="valueactions">
          value actions
        </a>
        <a class="nav-link nested"
          href="#field-actions"
          title="fieldactions">
          field actions
        </a>
        <a class="nav-link nested"
          href="#pcap-at-rest-encryption"
          title="PCAP at Rest Encryptions">
          PCAP at Rest Encryption
        </a>
        <a href="#Plugins"
          class="nav-link"
          title="Plugins">
          Plugins
        </a>
        {% for pluginId in page.plugins %}
          {% assign plugin = site.data.settings[pluginId] %}
          <a class="nav-link nested"
            href="#{{pluginId}}"
            title="{{plugin.name}}">
            {{plugin.name}}
          </a>
        {% endfor %}
        <a href="#high-performance-settings"
          class="nav-link"
          title="High Performance Settings">
          High Performance Settings
        </a>
        <a href="#lab-settings"
          class="nav-link"
          title="Lab Settings">
          Lab Settings
        </a>
      </div>
      <a href="#cont3xt"
        class="nav-link main-nav-link"
        title="Cont3xt">
        Cont3xt
      </a>
      {% for cont3xtId in page.cont3xt %}
        {% assign cont3xt = site.data.cont3xt[cont3xtId] %}
        <a class="nav-link nested"
          href="#cont3xt-{{cont3xtId}}"
          title="{{cont3xt.name}}">
          {{cont3xt.name}}
        </a>
      {% endfor %}
      <a href="#parliament"
        class="nav-link main-nav-link"
        title="Parliament">
        Parliament
      </a>
      {% for parliamentId in page.parliament %}
        {% assign parliament = site.data.parliament[parliamentId] %}
        <a class="nav-link nested"
          href="#parliament-{{parliamentId}}"
          title="{{parliament.name}}">
          {{parliament.name}}
        </a>
      {% endfor %}

      <a href="#wiseService"
        class="nav-link main-nav-link"
        title="WISE Service">
        WISE Service
      </a>
      {% for wiseServiceId in page.wiseService %}
        {% assign wiseService = site.data.wise[wiseServiceId] %}
        <a class="nav-link nested"
          href="#wise-{{wiseServiceId}}"
          title="{{wiseService.name}}">
          {{wiseService.name}}
        </a>
      {% endfor %}

    </div>
  </div> <!-- /toc nav -->

  <!-- toc expand/collapse -->
  <div class="collapse-btn d-none d-sm-block"
    onclick="toggleToc()">
    <span class="fa fa-angle-double-left">
    </span>
  </div> <!-- /toc expand/collapse -->

  <!-- settings container -->
  <div class="full-height-container">

    <!-- settings content -->
    <div class="pl-3 pr-3">

      <!-- ini settings -->
      <h1 id="ini-settings" class="mt-1 section-header">
        Settings
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h1>
      <p>
        The Arkime system utilizes configuration files using INI format by default.
        With the release of Arkime 5, support was introduced for configuration files in JSON and YAML formats using <code>json</code> or <code>yaml</code> extensions, respectively.
        When utilizing JSON or YAML, arrays can be specified either natively or using separators like INI.
        The configuration file location can be specified using the <code>-c</code> command-line option.
      </p>
      <p>
        All of the Arkime application support overriding configuration files by setting via a command line option using either <code>-o variable=value</code> or <code>-o section.variable=value</code>, so for example <code>-o elasticsearch=https://localhost:90200</code>.
        Starting in Arkime 5.4 environment variables can be used to override configuration settings, these are processed after the <code>-o</code> command line options but before the config file.
        Environment variables are specified in the format <code>ARKIME__variable=value</code> or <code>ARKIME_SECTION__variable=value</code>, so for example <code>ARKIME__elasticsearch=https://localhost:90200</code>.
      </p>
      <!-- /ini settings -->

      <!-- Sections-->
      {% for sectionId in page.shared %}
        {% assign section = site.data.shared[sectionId] %}
        {% if section.oldId %}
          <span id="{{section.oldId}}"></span>
        {% endif %}
        <h3 id="{{sectionId}}" class="subsection">
          {{section.name}}
          <span class="fa fa-link small copy-link cursor-copy"
            onclick="copyLink(this, 'settings')">
          </span>
        </h3>
        {{section.before}}
        {% if section.settings %}
          <table class="table table-sm table-striped table-primary">
            <thead>
              <tr>
                <th>
                  Setting
                </th>
                <th>
                  Default
                </th>
                <th>
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              {% assign sorted = section.settings | sort: "key" %}
              {% for item in sorted %}
                <td id="{{ item.key }}">
                  <span id="{{ item.key | downcase}}">{{item.key}}</span>
                  <span class="fa fa-link small copy-link cursor-copy"
                    onclick="copyLink(this, 'settings')">
                  </span>
                </td>
                <td>
                  {{ item.value }}
                </td>
                <td>
                  {{ item.text }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{section.after}}
      {% endfor %}
      <!-- /Sections -->

      <!-- capture viewer -->
      <h1 id="capture-viewer" class="section-header">
        Capture/Viewer
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h1>
      <p>
        The default confguration file for capture and viewer is <code>/opt/arkime/etc/config.ini</code>.
        When searching for a setting, capture and viewer employ a tiered system for configuration variables.
        This tiered system enables a single configuration file to be used across multiple servers.
        The order of sections within the configuration file is not significant; however, the specific section in which a variable resides can be crucial.
        A frequent issue encountered is the misplacement of a variable in an incorrect section.
      </p>
      <p class="mb-0">
        Order of config variables for capture and viewer:
      </p>
      <ol>
        <li>
          [optional] The section titled with the node name is given priority and used first.
          Arkime will always tag sessions with node: &lt;node name&gt;.
        </li>
        <li>
          [Optional] If a node section possesses a nodeClass variable, the section titled
          with the nodeClass name is utilized next. Sessions will be tagged with
          node:&lt;node class name&gt;, which is beneficial for monitoring different
          network classes.
        </li>
        <li>
          The section titled "default" is considered last.
        </li>
      </ol>
      <!-- /ini settings -->

      <!-- Sections-->
      {% for sectionId in page.sections %}
        {% assign section = site.data.settings[sectionId] %}
        {% if section.oldId %}
          <span id="{{section.oldId}}"></span>
        {% endif %}
        <h3 id="{{sectionId}}" class="subsection">
          {{section.name}}
          <span class="fa fa-link small copy-link cursor-copy"
            onclick="copyLink(this, 'settings')">
          </span>
        </h3>
        {{section.before}}
        {% if section.settings %}
          <table class="table table-sm table-striped table-primary">
            <thead>
              <tr>
                <th>
                  Setting
                </th>
                <th>
                  Default
                </th>
                <th>
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              {% assign sorted = section.settings | sort: "key" %}
              {% for item in sorted %}
                <td id="{{ item.key }}">
                  <span id="{{ item.key | downcase}}">{{item.key}}</span>
                  <span class="fa fa-link small copy-link cursor-copy"
                    onclick="copyLink(this, 'settings')">
                  </span>
                </td>
                <td>
                  {{ item.value }}
                </td>
                <td>
                  {{ item.text }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{section.after}}
      {% endfor %}
      <!-- /Sections -->

      <!-- Readers/Writers-->
      <h2 id="ReadersWriters" class="subsection-header">
        Readers/Writers
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h2>
      <p>
        Capture supports several different methods for reading and writing packets during a live capture.
        These are selected by setting the <a href="#pcapReadMethod"<pcapReadMethod></a> and <a href="#pcapWriteMethod"<pcapWriteMethod></a> config settings..
        We suggest using <code>pcapReadMethod=tpacketv3</code> and the default <code>pcapWriteMethod=simple</code> for best performance.
      </p>
      <p>
        For offline pcap processing see the command line options of capture and <a href="/faq#how-do-i-import-existing-pcaps">FAQ - How do I import existing PCAPs?</a>.
      </p>
      {% for sectionId in page.readerswriters %}
        {% assign section = site.data.settings[sectionId] %}
        <h3 id="{{sectionId}}" id="subsection">
          {{section.name}}
          <span class="fa fa-link small copy-link cursor-copy"
            onclick="copyLink(this, 'settings')">
          </span>
        </h3>
        {{section.before}}
        {% if section.settings %}
          <table class="table table-sm table-striped table-primary">
            <thead>
              <tr>
                <th>
                  Setting
                </th>
                <th>
                  Default
                </th>
                <th>
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              {% assign sorted = section.settings | sort: "key" %}
              {% for item in sorted %}
                <td id="{{ item.key }}">
                  <span id="{{ item.key | downcase}}">{{item.key}}</span>
                  <span class="fa fa-link small copy-link cursor-copy"
                    onclick="copyLink(this, 'settings')">
                  </span>
                </td>
                <td>
                  {{ item.value }}
                </td>
                <td>
                  {{ item.text }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{section.after}}
      {% endfor %}
      <!-- /Sections -->

      <h2 id="SpecialSections" class="subsection-header">
        Special Sections
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h2>

      <p>
        Besides the normal <code>[default]</code> and <code>[node]</code> sections, Capture/Viewer support several special configuration file sections.
        These sections are used to configure custom fields, views, and other more complex features.
        Be careful to not place normal config items in these special sections.
      </p>

      {% for sectionId in page.specialsections %}
        {% assign section = site.data.settings[sectionId] %}
        <h3 id="{{sectionId}}" class="subsection">
          Special Sections - {{section.name}}
          <span class="fa fa-link small copy-link cursor-copy"
            onclick="copyLink(this, 'settings')">
          </span>
        </h3>
        {{section.before}}
        {% if section.settings %}
          <table class="table table-sm table-striped table-primary">
            <thead>
              <tr>
                <th>
                  Setting
                </th>
                <th>
                  Default
                </th>
                <th>
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              {% assign sorted = section.settings | sort: "key" %}
              {% for item in sorted %}
                <td id="{{ item.key }}">
                  <span id="{{ item.key | downcase}}">{{item.key}}</span>
                  <span class="fa fa-link small copy-link cursor-copy"
                    onclick="copyLink(this, 'settings')">
                  </span>
                </td>
                <td>
                  {{ item.value }}
                </td>
                <td>
                  {{ item.text }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{section.after}}
      {% endfor %}
      <!-- /Sections -->

      <!-- right-click -->
      <h2 id="right-click" class="subsection-header">
        Value Actions (previously right-click)
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h2>
      <p>
        It is possible to configure right click actions on any SPI data fields.
        Right click actions can be added based on either the field name or the category of the data.
        They can be added either in the configuration file or by enabled WISE data sources.
      </p>
      <p class="mb-0">
        Configuration File Sample:
      </p>
      <pre><code>[value-actions]
VTIP=url:https://www.virustotal.com/en/ip-address/%TEXT%/information/;name:Virus Total IP;category:ip
VTHOST=url:https://www.virustotal.com/en/domain/%HOST%/information/;name:Virus Total Host;category:host
VTURL=url:https://www.virustotal.com/latest-scan/%URL%;name:Virus Total URL;category:url
KBN=url:https://localhost:5601/app/discover#/?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'%ISOSTART%',to:'%ISOSTOP%'))&_a=(columns:!(_source),index:'filebeat-*',interval:auto,query:(language:kuery,query:'network.community_id: "%URIEncodedText%"'));name:Discover communityId;fields:communityId</code></pre>
      <p class="mb-0">
        Each line in the valueactions section contains possible actions:
      </p>
      <table class="table table-sm table-striped table-primary">
        <thead>
          <tr>
            <th>
              Piece
            </th>
            <th>
              Notes
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="right-click-key">
              [key]=
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The key must be unique and is also used as the right click menu
              name if the name field is missing
            </td>
          </tr>
          <tr>
            <td id="right-click-actionType">
              actionType
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              Needs a url. Supported actionTypes:
              <ul class="mb-0">
                <li>fetch: Information will be fetched and displayed in the rightclick menu for 5 seconds</li>
                <li>empty: Nothing is done on value action click</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td id="right-click-all">
              all
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              (Since 4.3.2) Using all:true shows this item on all values.
            </td>
          </tr>
          <tr>
            <td id="right-click-func">
              func
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A javascript function body (feeds into new Function()) that returns a right click action formatted as an object.
              This is the recommended way if you need to omit the url from an action and can be used
              to place plain text in the menu.
              Value is not calculated so one of the keys in the returned action object must be "value" if you want to show name:value pair in the menu (but not req).
              Formatting substitutions will also be ignored.
            </td>
          </tr>
          <tr>
            <td id="right-click-url">
              url
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The url to open if selected. There are some basic URL
              substitutions defined below.
            </td>
          </tr>
          <tr>
            <td id="right-click-name">
              name
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The menu text to display
            </td>
          </tr>
          <tr>
            <td id="right-click-category">
              category
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              If the field that is right clicked on has this category then
              display this menu item. All right click entries must have either
              a category or fields variable defined.
            </td>
          </tr>
          <tr>
            <td id="right-click-fields">
              fields
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A comma separated list of field names. If the field that is right
              clicked on has one the field expressions in the list then display
              this menu item. All right click entries must have either a
              category or fields variable defined.
            </td>
          </tr>
          <tr>
            <td id="right-click-regex">
              regex
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A regex to use on the right clicked text to extract a piece for
              the URL. The first matching group is substituted for %REGEX% in
              the url. If the regex doesn't match at all then the menu isn't
              displayed.
            </td>
          </tr>
          <tr>
            <td id="right-click-users">
              users
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A comma separated list of user names that can see the right click
              item. If not set then all users can see the right click item.
            </td>
          </tr>
          <tr>
            <td id="right-click-notUsers">
              notUsers
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              (Since 3.0) A comma separated list of user names that can NOT see the right click item.
              This setting is applied before the users setting above.
            </td>
          </tr>
        </tbody>
      </table>
      <p class="mb-0">
        The possible URL Substitutions are:
      </p>
      <table class="table table-sm table-striped table-primary">
        <thead>
          <tr>
            <th>
              URL Substitutions
            </th>
            <th>
              Notes
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="url-sub-text">
              %TEXT%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The text clicked on in raw form
            </td>
          </tr>
          <tr>
            <td id="url-sub-uriencodedtext">
              %URIEncodedText%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The text clicked on, URI encoded
            </td>
          </tr>
          <tr>
            <td id="url-sub-uctext">
              %UCTEXT%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The text clicked on, upper-cased
            </td>
          </tr>
          <tr>
            <td id="url-sub-url">
              %URL%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A URL extracted from the text clicked on
            </td>
          </tr>
          <tr>
            <td id="url-sub-host">
              %HOST%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A hostname extracted from the text clicked on. Sometimes the same as %TEXT%, sometimes a subset.
            </td>
          </tr>
          <tr>
            <td id="url-sub-regex">
              %REGEX%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The first regex group match
            </td>
          </tr>
          <tr>
            <td id="url-sub-expression">
              %EXPRESSION%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The search expression, URI encoded
            </td>
          </tr>
          <tr>
            <td id="url-sub-date">
              %DATE%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The search date/time range, eg., <code>startTime=1567447943&stopTime=1569607943</code> (UNIX seconds) for a custom date range or <code>date=336</code> (hours) for times relative to now
            </td>
          </tr>
          <tr>
            <td id="url-sub-isostart">
              %ISOSTART%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The beginning of the search date/time range, ISO_8601 formatted
            </td>
          </tr>
          <tr>
            <td id="url-sub-isostop">
              %ISOSTOP%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The end of the search date/time range, ISO_8601 formatted
            </td>
          </tr>
          <tr>
            <td id="url-sub-field">
              %FIELD%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The field name as it would be referenced in a Arkime search expression
            </td>
          </tr>
          <tr>
            <td id="url-sub-dbfield">
              %DBFIELD%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The field name as referenced in the underlying OpenSearch/Elasticsearch database
            </td>
          </tr>
          <tr>
            <td id="url-sub-node">
              %NODE%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The name of the capture node
            </td>
          </tr>
          <tr>
            <td id="url-sub-sessionid">
              %ID%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The session ID
            </td>
          </tr>
        </tbody>
      </table>
      <p class="mb-0">
        The categories that Arkime uses are:
      </p>
      <table class="table table-sm table-striped table-primary">
        <thead>
          <tr>
            <th>
              Category
            </th>
            <th>
              Notes
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="categories-ans">
              asn
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              An ASN field
            </td>
          </tr>
          <tr>
            <td id="categories-country">
              country
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A three letter country code
            </td>
          </tr>
          <tr>
            <td id="categories-host">
              host
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A domain or host name
            </td>
          </tr>
          <tr>
            <td id="categories-ip">
              ip
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              An ip address
            </td>
          </tr>
          <tr>
            <td id="categories-md5">
              md5
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A md5 of a payload, such as for http body or smtp attachment
            </td>
          </tr>
          <tr>
            <td id="categories-port">
              port
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The TCP/UDP port
            </td>
          </tr>
          <tr>
            <td id="categories-rir">
              rir
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The Regional Internet Registry
            </td>
          </tr>
          <tr>
            <td id="categories-url">
              url
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A URL
            </td>
          </tr>
          <tr>
            <td id="categories-user">
              user
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A user name or email address
            </td>
          </tr>
        </tbody>
      </table>
      <!-- /right-click -->

      <!-- field actions -->
      <h3 id="field-actions" class="subsection">
        Field Actions
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h3>
      <p>
        It is possible to configure actions to add to any SPI data field label.
        Field actions can be added based on either the field name or the category of the data.
        They can be added either in the configuration file or by enabled WISE data sources.
      </p>
      <p class="mb-0">
        Configuration File Sample:
      </p>
      <pre><code>[field-actions]
TEST=url:https://www.test.com/?query=%EXPRESSION%:Test Action %FIELNAME%/;category:ip;users:testuser
      </code></pre>
      <p class="mb-0">
        Each line in the fieldactions section contains possible actions:
      </p>
      <table class="table table-sm table-striped table-primary">
        <thead>
          <tr>
            <th>
              Piece
            </th>
            <th>
              Notes
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="field-actions-key">
              [key]=
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The key must be unique and is also used as the field action menu
              name if the name field is missing
            </td>
          </tr>
          <tr>
            <td id="field-actions-url">
              url
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The url to open if selected. There are some basic URL
              <a href="#field-actions-url-sub">substitutions defined below</a>.
            </td>
          </tr>
          <tr>
            <td id="field-actions-name">
              name
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The menu text to display (<a href="#field-actions-menu-sub">can include these substitutions</a>)
            </td>
          </tr>
          <tr>
            <td id="field-actions-all">
              all
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              (Since 4.3.2) Using all:true shows this item on all fields.
            </td>
          </tr>
          <tr>
            <td id="field-actions-category">
              category
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              If the field is in this category
              display this menu item. All field action entries must have either
              a category or fields variable defined.
              <a href="#arkime-categories">see categories</a>
            </td>
          </tr>
          <tr>
            <td id="field-actions-fields">
              fields
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A comma separated list of field names. If the field is in the list then display
              this menu item. All field action entries must have either a
              category or fields variable defined.
            </td>
          </tr>
          <tr>
            <td id="field-actions-users">
              users
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A comma separated list of user names that can see the field action
              item. If not set then all users can see the field action item.
            </td>
          </tr>
          <tr>
            <td id="right-click-notUsers">
              notUsers
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              A comma separated list of user names that can NOT see the field action item.
              This setting is applied before the users setting above.
            </td>
          </tr>
        </tbody>
      </table>
      <p class="mb-0" id="field-actions-url-sub">
        The possible URL Substitutions are:
      </p>
      <table class="table table-sm table-striped table-primary">
        <thead>
          <tr>
            <th>
              URL Substitutions
            </th>
            <th>
              Notes
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="field-actions-url-sub-expression">
              %EXPRESSION%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The search expression, URI encoded
            </td>
          </tr>
          <tr>
            <td id="field-actions-url-sub-date">
              %DATE%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The search date/time range, eg., <code>startTime=1567447943&stopTime=1569607943</code> (UNIX seconds) for a custom date range or <code>date=336</code> (hours) for times relative to now
            </td>
          </tr>
          <tr>
            <td id="field-actions-url-sub-isostart">
              %ISOSTART%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The beginning of the search date/time range, ISO_8601 formatted
            </td>
          </tr>
          <tr>
            <td id="field-actions-url-sub-isostop">
              %ISOSTOP%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The end of the search date/time range, ISO_8601 formatted
            </td>
          </tr>
          <tr>
            <td id="field-actions-url-sub-field">
              %FIELD%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The field name as it would be referenced in a Arkime search expression
            </td>
          </tr>
          <tr>
            <td id="field-actions-url-sub-dbfield">
              %DBFIELD%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The field name as referenced in the underlying OpenSearch/Elasticsearch database
            </td>
          </tr>
        </tbody>
      </table>
      <p class="mb-0" id="field-actions-menu-sub">
        The possible Field Action Menu Name Substitutions are:
      </p>
      <table class="table table-sm table-striped table-primary">
        <thead>
          <tr>
            <th>
              Name Substitutions
            </th>
            <th>
              Notes
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="name-sub-fieldname">
              %FIELDNAME%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The friendly (readable) field name
            </td>
          </tr>
          <tr>
            <td id="name-sub-field">
              %FIELD%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The field name as it would be referenced in a Arkime search expression
            </td>
          </tr>
          <tr>
            <td id="name-sub-dbfield">
              %DBFIELD%
              <span class="fa fa-link small copy-link cursor-copy"
                onclick="copyLink(this, 'settings')">
              </span>
            </td>
            <td>
              The field name as referenced in the underlying OpenSearch/Elasticsearch database
            </td>
          </tr>
        </tbody>
      </table>
      <!-- /field actions -->

      <!-- PCAP at Rest Encryption -->
      <h3 id="pcap-at-rest-encryption" class="subsection">
        PCAP at Rest Encryption
      </h2>
      <p>
        Arkime provides support for PCAP at rest encodings. Two forms of encodings
        are currently supported: "aes-256-ctr" and "xor-2048". Please note that xor-2048
        is not actually secure and is only for testing.
      </p>
      <p>
        The current implementation is based around openssl. The encoding that
        you wish to use is configured in the configuration file by setting the
        <code>simpleEncoding</code> variable. The simpleEncoding may be set
        either globally or per node.
      </p>
      <p>
        Each file on disk is encoded by a unique data encryption key (dek).
        The dek is encrypted using a key encryption key (kek) when stored.
        The encrypted dek, the id of the kek, and the initialization vector
        (IV) are all stored per file in OpenSearch/Elasticsearch. Which kek is used when
        creating files, is selected with the <code>simpleKEKId</code>
        variable. The simpleKEKId may be set either globally or per node.
      </p>
      <p>
        The kek passwords that may be used should be placed in a
        <code>[keks]</code> section of the configuration file. There is one line for
        each kekid to kek mapping. An easy way to create kek passwords is
        <code>openssl rand -base64 30</code>. Remember a kek is password used
        to encrypt the dek and NOT the password used to encrypt the files.
        The dek is what is used to encrypt the files, and is unique per file.
      </p>
      <p>
        You MUST secure your configuration file.
      </p>
      <p>
        You are not required to use the same keks on all nodes, however, you
        can if you wish. It is recommended that you rotate your keks
        occasionally (timing dependent on your risk tolerance) and create new
        keks to be used. Do NOT delete the old keks until all pcaps which have
        been encoded with those keks have been expired.
      </p>
      <p>
        Currently it is not possible to re-encrypt a data encryption key,
        however, this should be possible in the future with a db.pl command.
      </p>
      <p class="mb-0">
        Example:
      </p>
      <pre><code>[default]
pcapWriteMethod=simple
simpleEncoding=aes-256-ctr
simpleKEKId=kekid1

[keks]
kekid1=Randomkekpassword1
kekid2=Randomkekpassword2
</code></pre>
      <p class="mb-0">
        Advantages:
      </p>
      <ul>
        <li>
          Don't need to mess with disk encryption
        </li>
        <li>
          Access to just the host doesn't give you access to the pcap file
        </li>
      </ul>
      <p class="mb-0">
        Disadvantages:
      </p>
      <ul>
        <li>
          Normal pcap tools will no longer work
        </li>
        <li>
          If the files index in OpenSearch/Elasticsearch gets corrupt, you can not
          reingest the files
        </li>
      </ul>
      <!-- /PCAP at Rest Encryption -->

      <!-- Plugins -->
      <h2 id="Plugins" class="subsection-header">
        Plugins
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h2>

      <p>
        Arkime supports several different plugins that can be added to the capture process.
      </p>

      {% for pluginId in page.plugins %}
        {% assign plugin = site.data.settings[pluginId] %}
        <h3 id="{{pluginId}}" class="subsection">
          Plugins - {{plugin.name}}
          <span class="fa fa-link small copy-link cursor-copy"
            onclick="copyLink(this, 'settings')">
          </span>
        </h3>
        {{plugin.before}}
        {% if plugin.settings %}
          <table class="table table-sm table-striped table-primary">
            <thead>
              <tr>
                <th>
                  Setting
                </th>
                <th>
                  Default
                </th>
                <th>
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              {% assign sorted = plugin.settings | sort: "key" %}
              {% for item in sorted %}
                <td id="{{ item.key }}">
                  <span id="{{ item.key | downcase}}">{{item.key}}</span>
                  <span class="fa fa-link small copy-link cursor-copy"
                    onclick="copyLink(this, 'settings')">
                  </span>
                </td>
                <td>
                  {{ item.value }}
                </td>
                <td>
                  {{ item.text }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{plugin.after}}
      {% endfor %}
      <!-- /Plugins -->

      <!-- High Performance Settings -->
      <h2 id="high-performance-settings" class="subsection-header">
        High Performance Settings
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h2>
      <p>
        Sample config items for max performance. Most of
        the defaults are fine. Reading
        <a class="no-decoration"
          href="faq#why-am-i-dropping-packets">
          Arkime FAQ - Why am I dropping packets</a>
        and
        <a class="no-decoration"
          href="https://github.com/pevma/SEPTun">
          https://github.com/pevma/SEPTun</a>
        or
        <a class="no-decoration"
          href="https://github.com/pevma/SEPTun-Mark-II">
          https://github.com/pevma/SEPTun-Mark-II</a>
        may be helpful.
      </p>
      <pre><code># MOST IMPORTANT, use basic magicMode, libfile kills performance
magicMode=basic

# Optionally disable compression, this will use more disk space but less CPU.
# simpleCompression=none
# Switch from gzip to zlib if you want compression, zstd uses less CPU than gzip
# simpleCompression=zstd

pcapReadMethod=tpacketv3
tpacketv3BlockSize=8388608

# Increase by 1 if still getting Input Drops
tpacketv3NumThreads=2

pcapWriteMethod=simple
pcapWriteSize=4194304

# Start with 5 packet threads, increase by 1 if getting thread drops.  Should be about 2 x Gbps that need to be captured
packetThreads=5

# Increase the size of ES messages and compress them for lower traffic rates
dbBulkSize=4000000
compressES=true
dbEsHealthCheck=false

# Approximate max streams that will be monitored
maxStreams=2000000

# Set to number of packets a second, if still overflowing try 400k
maxPacketsInQueue = 300000

# Uncomment to disable features you don't need
# parseQSValue=false
# parseCookieValue=false</code></pre>
      <p class="mb-0">
        The following rules can help greatly reduce the number of SPI sessions
        being written to disk:
      </p>
      <pre><code>---
version: 1
rules:
- name: "Dont write tls packets or check yara after 10 packets, still save SPI"
  when: "fieldSet"
  fields:
    protocols:
    - tls
  ops:
    _dontCheckYara: 1
    _maxPacketsToSave: 10

- name: "Dont save SPI sessions to ES with only 1 src packet"
  when: "beforeFinalSave"
  fields:
    packets.src: 1
    packets.dst: 0
    tcpflags.syn: 1
  ops:
    _dontSaveSPI: 1

- name: "Dont save SPI data for listed hostnames tracked by dst ip:port, use on cloud destinations"
  when: "fieldSet"
  fields:
    host.http:
    - ad.doubleclick.net
    protocols:
    - tls
  ops:
    _dontSaveSPI: 1
    _maxPacketsToSave: 1
    _dropByDst: 10</code></pre>
      <!-- /High Performance Settings -->

      <!-- Lab Settings -->
      <h2 id="lab-settings" class="subsection-header">
        Lab Settings
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h2>
      <p>
        Arkime by default is not configured to monitor low bandwidth networks.
        You'll want to update the configuration to have a better experience when
        testing in a lab or low bandwidth setting.
      </p>
      <pre><code># Only use 1 packet thread so only 1 file is written at a time
packetThreads=1

# Disable compression since this will cause buffering and
# cause viewer to not show packets until buffer is written
simpleCompression=none

# Lower pcap buffer to smallest possible, although Arkime will write pageSize
# blocks if a timer fires.
pcapWriteSize=65536

# Lower the number of streams expected for lower memory usage
maxStreams=1500

# Decrease the size of writes to DB
dbBulkSize=100000
maxESConns=2
</code></pre>
      <!-- /Lab Settings -->

      <!-- Cont3xt -->
      <h1 id="cont3xt" class="section-header">
        Cont3xt
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h1>

      <p>
        Cont3xt, by default, utilizes configuration files using INI format.
        The configuration file is located at <code>/opt/arkime/etc/cont3xt.ini</code>, but its location can be altered using the <code>-c</code> command-line option.
        With the release of Arkime 5, support was introduced for configuration files in JSON and YAML formats.
        These must be have <code>json</code> or <code>yaml</code> extensions, respectively.
        When utilizing JSON or YAML, arrays can be specified either natively or using separators like INI.
      </p>
      <p>
        The configuration file can contain sections for Cont3xt itself and then sections for each integration.
        The sections for each integration are optional and can be used to set specific settings for each integration.
        Usually, integration keys will be set up by each user, but it is possible to have global keys.
      </p>

      {% for cont3xtId in page.cont3xt %}
        {% assign cont3xt = site.data.cont3xt[cont3xtId] %}
        <h3 id="cont3xt-{{cont3xtId}}" class="subsection">
          {{cont3xt.name}}
          <span class="fa fa-link small copy-link cursor-copy"
            onclick="copyLink(this, 'settings')">
          </span>
        </h3>
        {{cont3xt.before}}
        {% if cont3xt.settings %}
          <table class="table table-sm table-striped table-primary">
            <thead>
              <tr>
                <th>
                  Setting
                </th>
                <th>
                  Default
                </th>
                <th>
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              {% assign sorted = cont3xt.settings | sort: "key" %}
              {% for item in sorted %}
                <td id="cont3xt-{{cont3xtId}}-{{item.key}}">
                  <span id="{{item.key | downcase}}">{{item.key}}</span>
                  <span class="fa fa-link small copy-link cursor-copy"
                    onclick="copyLink(this, 'settings')">
                  </span>
                </td>
                <td>
                  {{ item.value }}
                </td>
                <td>
                  {{ item.text }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{cont3xt.after}}
      {% endfor %}
      <!-- /Cont3xt -->

      <!-- Parliament -->
      <h1 id="parliament" class="section-header">
        Parliament
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h1>

      <p>
        Parliament contains a grouped list of your Arkime clusters with links, Elasticsearch/OpenSearch health, and issues for each.
        You can use Parliament as a landing page for all of your Arkime clusters and as a status page to monitor the health of your clusters.
        See <a href="parliament" class="no-decoration">Parliament</a> for more information.
      </p>


      {% for parliamentId in page.parliament %}
        {% assign parliament = site.data.parliament[parliamentId] %}
        <h3 id="parliament-{{parliamentId}}" class="subsection">
          {{parliament.name}}
          <span class="fa fa-link small copy-link cursor-copy"
            onclick="copyLink(this, 'settings')">
          </span>
        </h3>
        {{parliament.before}}
        {% if parliament.settings %}
          <table class="table table-sm table-striped table-primary">
            <thead>
              <tr>
                <th>
                  Setting
                </th>
                <th>
                  Default
                </th>
                <th>
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              {% assign sorted = parliament.settings | sort: "key" %}
              {% for item in sorted %}
                <td id="{{ item.key }}">
                  <span id="{{ item.key | downcase}}">{{item.key}}</span>
                  <span class="fa fa-link small copy-link cursor-copy"
                    onclick="copyLink(this, 'settings')">
                  </span>
                </td>
                <td>
                  {{ item.value }}
                </td>
                <td>
                  {{ item.text }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{parliament.after}}
      {% endfor %}
      <!-- /Parliament -->

      <!-- wiseService -->
      <h1 id="wiseService" class="section-header">
        WISE Service
        <span class="fa fa-link small copy-link cursor-copy"
          onclick="copyLink(this, 'settings')">
        </span>
      </h1>

      <p>
        WISE Service, by default, utilizes configuration files using INI format.
        The configuration file is located at <code>/opt/arkime/etc/wiseService.ini</code>, but its location can be altered using the <code>-c</code> command-line option.
        With the release of Arkime 5, support was introduced for configuration files in JSON and YAML formats.
        These must be have <code>json</code> or <code>yaml</code> extensions, respectively.
        When utilizing JSON or YAML, arrays can be specified either natively or using separators like INI.
      </p>
      <p>
        The configuration file can contain sections for wiseService  itself and then sections for each WISE source.
        WISE will not try and query sources until a section is created for them.
      </p>

      {% for wiseServiceId in page.wiseService %}
        {% assign wiseService = site.data.wise[wiseServiceId] %}
        <h3 id="wise-{{wiseServiceId}}" class="subsection">
          {{wiseService.name}}
          <span class="fa fa-link small copy-link cursor-copy"
            onclick="copyLink(this, 'settings')">
          </span>
        </h3>
        {{wiseService.before}}
        {% if wiseService.settings %}
          <table class="table table-sm table-striped table-primary">
            <thead>
              <tr>
                <th>
                  Setting
                </th>
                <th>
                  Default
                </th>
                <th>
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              {% assign sorted = wiseService.settings | sort: "key" %}
              {% for item in sorted %}
                <td id="wise-{{wiseServiceId}}-{{item.key}}">
                  <span id="{{item.key | downcase}}">{{item.key}}</span>
                  <span class="fa fa-link small copy-link cursor-copy"
                    onclick="copyLink(this, 'settings')">
                  </span>
                </td>
                <td>
                  {{ item.value }}
                </td>
                <td>
                  {{ item.text }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {{wiseService.after}}
      {% endfor %}
      <!-- /Cont3xt -->

    </div> <!-- /settings content -->

    <!-- footer -->
    {%- include footer.html -%}

  </div> <!-- /settings container -->

  <script>
    $(document).ready(() => {
      const hash = window.location.hash;
      if (hash) {
        window.location.hash = '';
        window.location.hash = hash;
      }
    });
  </script>

</body>

</html>
