<img height="28px"
  class="footer-owl"
  alt="Arkime Logo"
  src="assets/simple_logo.png"
  title="HOOT!"
  data-bs-toggle="tooltip"
  data-bs-placement="top"
/>

<footer class="footer small text-center">
  <strong class="float-start">
    <span>Arkime</span>&nbsp;&nbsp;&nbsp;
    <a href="https://github.com/arkime/arkime"
      class="no-decoration">
      <span class="fa fa-lg fa-github"></span>
      <span class="hide">Arkime GitHub</span>
    </a>
  </strong>
  <a href="https://github.com/arkime/arkime/issues"
    class="no-decoration float-start ms-3"
    title="Report it!" data-bs-toggle="tooltip">
    Found an Issue?
  </a>
  <span class="float-end">
    <a href="https://github.com/sponsors/awick"
      class="no-decoration">Sponsor</a>&nbsp;&nbsp;&nbsp;
    <a href="learn"
      class="no-decoration">Docs</a>&nbsp;&nbsp;&nbsp;
    <a href="allapis"
      class="no-decoration">API</a>&nbsp;&nbsp;&nbsp;
    <a href="/faq"
      class="no-decoration">FAQ</a>
  </span>
</footer>
