<div class="text-center">
  <img height="28px"
    class="footer-owl"
    alt="Arkime Logo"
    src="assets/simple_logo.png"
    title="HOOT!"
    data-toggle="tooltip"
    data-placement="top"
  />
</div>

<footer class="footer small text-center">
  <strong class="pull-left">
    <span>Arkime</span>&nbsp;&nbsp;&nbsp;
    <a href="https://github.com/arkime/arkime"
      class="no-decoration">
      <span class="fa fa-lg fa-github"></span>
      <span class="hide">Arkime GitHub</span>
    </a>
  </strong>
  <a href="https://github.com/arkime/arkime/issues"
    class="no-decoration pull-left ml-3"
    title="Report it!" data-toggle="tooltip">
    Found an Issue?
  </a>
  <span class="pull-right">
    <a href="learn"
      class="no-decoration">Docs</a>&nbsp;&nbsp;&nbsp;
    <a href="api"
      class="no-decoration">API</a>&nbsp;&nbsp;&nbsp;
    <a href="faq"
      class="no-decoration">FAQ</a>
  </span>
</footer>
