name: Overriding Configuration File

before: |
  <p>
    The Arkime configuration file can be overridden using two different methods, the command line or environment variables.
    The command line takes precedence over the environment variables, which in turn takes precedence over the configuration file.
    Both of these solutions replace the entire value of the variable, so if you want to append to a list you need to specify the entire list.
  </p>
  <h4>Command Line</h4>
  <p>
    Arkime applications support overriding configuration files via a command line option using either <code>-o variable=value</code> or <code>-o section.variable=value</code>.
  <p>
  <h4>Environment Variables</h4>
  <p>
    Since Arkime 5.6, environment variables can also be used to override configuration settings.
    Environment variables are specified in the format <code>ARKIME__variable=value</code> (for default section) or <code>ARKIME_section__variable=value</code>.
    If the section or variable needs a DOT, DASH, COLON, or SLASH character you can use those keywords since environment variables can't have those characters.
    It is not possible to use an environment variable inside the configuration file for partial replacement.
  </p>
  <h4>Examples</h4>
  <p>
  To replace this entire configuration file
  <pre><code>[default]
  elasticsearch=https://localhost:9200
  [url:foobar]
  url=http://localhost:9200
  [arkime-clusters]
  example=url:http://localhost:8124
  </code></pre>

    with command line options 
    <pre><code>-o elasticsearch=https://localhost:9200 -o url:foobar.url=http://localhost:9200 -o arkime-clusters.example=url:http://localhost:8124</code></pre>
    or environment variables 
  <pre><code>ARKIME__elasticsearch=https://localhost:9200 
  ARKIME_urlCOLONfoobar__url=http://localhost:9200
  ARKIME_arkimeDASHclusters__example=url:http://localhost:8124
  </code></pre>
  </p>
